# Apple stuff
.DS_Store

# Jupyter
.ipynb_checkpoints

# Distribution / packaging
env/

# .dotenv
.env

# virtualenv
.venv
venv/
ENV/
env.bak/
venv.bak/
**/venv

# Editors
.idea/

# Byte-compiled / optimized / DLL files
__pycache__