# Apple stuff
.DS_Store

# Local Data
local_data/

# Jupyter
.ipynb_checkpoints
*.ipynb
# Distribution / packaging
env/

# .dotenv
.env

# virtualenv
.venv
venv/
ENV/
env.bak/
venv.bak/
**/venv

# Editors
.idea/

# Byte-compiled / optimized / DLL files
__pycache__
