alabaster==0.7.12
antlr4-python3-runtime==4.9.3
attrs==21.4.0
Babel==2.10.3
bcp47==0.0.4
certifi==2022.6.15
CFGraph==0.2.1
chardet==5.0.0
charset-normalizer==2.1.0
click==8.1.3
decorator==5.1.1
Deprecated==1.2.13
distlib==0.3.4
docutils==0.18.1
et-xmlfile==1.1.0
filelock==3.7.1
funowl==0.1.12
graphviz==0.20
greenlet==1.1.2
hbreader==0.9.1
idna==3.3
imagesize==1.3.0
importlib-metadata==4.12.0
isodate==0.6.1
Jinja2==3.1.2
json-flattener==0.1.9
jsonasobj==1.3.1
jsonasobj2==1.0.4
jsonpatch==1.32
jsonpath-ng==1.5.3
jsonpointer==2.3
jsonschema==4.6.1
linkml==1.2.15
linkml-dataops==0.1.0
linkml-owl==0.2.2
linkml-runtime==1.2.16
markdown-it-py==2.1.0
MarkupSafe==2.1.1
mdit-py-plugins==0.3.0
mdurl==0.1.1
myst-parser==0.18.0
numpy==1.23.0
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
parse==1.19.0
pbr==5.9.0
platformdirs==2.5.2
ply==3.11
prefixcommons==0.1.9
pydantic==1.9.1
Pygments==2.12.0
PyJSG==0.11.10
pyparsing==3.0.9
pyrsistent==0.18.1
PyShEx==0.8.1
PyShExC==0.9.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
rdflib==6.1.1
rdflib-jsonld==0.6.1
rdflib-shim==1.0.3
requests==2.28.1
rfc3987==1.3.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
ShExJSG==0.8.2
six==1.16.0
snowballstemmer==2.2.0
sparqlslurper==0.5.1
SPARQLWrapper==2.0.0
Sphinx==5.0.2
sphinx-click==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.39
stevedore==3.5.0
typer==0.4.1
typing_extensions==4.2.0
urllib3==1.26.9
virtualenv==20.15.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
watchdog==2.1.9
wrapt==1.14.1
zipp==3.8.0
