# *CompLOINC Statistics*
{#{% set id = 'https://comploinc' -%}#}
{#**IRI:** {{ metrics.ontology_iri|default(id) }}#}
{#**Version IRI:** {{ metrics.ontology_version_iri|default(id) }}#}

# Entities and axioms
## Entities and axiom counts
| Metric | Value |
| ------ | ----- |
| Annotation properties | {{ metrics.annotation_property_count|default("NA") }} |
| Axioms | {{ metrics.axiom_count|default("NA") }} |
| Logical axioms | {{ metrics.logical_axiom_count|default("NA") }} |
| Classes | {{ metrics.class_count|default("NA") }} |
| Object properties | {{ metrics.obj_property_count|default("NA") }} |
| Data properties | {{ metrics.dataproperty_count|default("NA") }} |
| Individuals | {{ metrics.individual_count|default("NA") }} |

## Axiom types
| Metric | Value |
| ------ | ----- |
{% for key, value in metrics.axiom_type_count_incl.items() %}| {{ key }} | {{ value }} |
{% endfor %}

## Entity namespaces counts
| Metric | Value |
| ------ | ----- |
{% for key, value in metrics.namespace_entity_count.items() %}| {{ key }} | {{ value }} |
{% endfor %}

## Axiom namespaces counts
| Metric | Value |
| ------ | ----- |
{% for key, value in metrics.namespace_axiom_count.items() %}| {{ key }} | {{ value }} |
{% endfor %}
