/comploinc-default/loinc-part-hierarchy-all.owl
/comploinc-default/loinc-part-list-all.owl
/comploinc-default/loinc-snomed-equiv.owl
/comploinc-default/loinc-term-primary-def.owl
/comploinc-default/loinc-term-supplementary-def.owl
/comploinc-default/loinc-terms-list-all.owl
/comploinc-default/snomed-parts.owl
