# output
loinc-part-hierarchy-all.owl
loinc-part-list-all.owl
loinc-snomed-equiv.owl
loinc-term-primary-def.owl
loinc-term-supplementary-def.owl
loinc-terms-list-all.owl
snomed-parts.owl

# Imports
!catalog-v001.xml
!comploinc-axioms.owl
!comploinc-query-examples.owl
!comploinc.owl

# Docs
!README.md
