---
name: Auto-deployment of comp_loinc Documentation
on:
  push:
    branches: [main]

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          fetch-depth: 0  # otherwise, you will failed to push refs to dest repo

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.11

      - name: Install Poetry.
        uses: snok/install-poetry@v1.3

      - name: Install dependencies.
        run: poetry install -E docs

      - name: Build documentation.
        run: |
          mkdir -p docs
          touch docs/.nojekyll
          poetry run gen-doc -d docs src/comp_loinc/schema/comp_loinc.yaml
          poetry run mkdocs gh-deploy
